.container_show {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_form{
    /* background-color: #006571; */
    height: 40vh;
    width: 100vh;


}
.form_all{
    background-color: #FFECD1;
}
.title_edit{
    display: flex;
    justify-content:center;
}

.card_show {
    height: 40vh;
    width: 40vh;
}
@media (min-width: 820px) {
    .container_cards {
        display: flex;

        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap;
        background-color: lightgray;
        /* background-image: url(https://img.freepik.com/vector-gratis/fondo-marmol-liquido-realista-oro_23-2148897013.jpg?w=2000); */

    }
}

.img_cardShow {
    margin: auto;
}


.buttons_cardShow {
    display: flex;
    justify-content: flex-end;
    gap: 6vh;
}


.form-group {
    display: flex;
    background-color: #006571;
}

.container_spaces {
    display: flex;
    justify-content: flex-end;
     gap: 3vh;

}

.card_textshow {
    background-color: #FFECD1;
}

.btn_home {
    margin-top: 2vh;
}

.container_image {
    margin-top: 10px;
}

.container_title {
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 10vh;


}

.icon_title {
    gap: 5px;
    display: flex;
    padding: 5px;
    align-content: center;
    justify-content: center;
    border-radius: 15px;
    width: 5rem;
    height: 2rem;
    background-color: white;
}

.container_date {
    display: flex;

}

.button_space {
    border-radius: 20px;
    background-color: #006571;
    font-size: 2vh;
    margin-bottom: 2vh;
}

.icon_add {
    margin-right: 3vh;
}


.button_add {
    background-color: orange;
    border-radius: 20px;
    font-size: 2vh;
    margin-bottom: 2vh;
}

.container_ubication {
    display: flex;
}

img {
    margin-top: 2vh;

}


/** CREATE EVENT**/

/**text**/

.subtitle-create {
    display: inherit;
    margin: 0 auto;
    padding: 1rem;
    margin-top:1rem ;
    margin-bottom: -1rem;
}

.text-subtitle {
    text-align: center;
    text-size-adjust: auto;
    font-size: 1.4rem;
}

.form-label {
    display: block;
    color: aliceblue;
    margin: auto;
}


/** Buttons **/

/** CREATE EVENT**/

/**text**/

.subtitle-create {
    display: inherit;
    margin: 0 auto;
    padding: 1rem;
    margin-top:1rem ;
    margin-bottom: -1rem;
}

.text-subtitle {
    text-align: center;
    text-size-adjust: auto;
    font-size: 1.4rem;
}

.legend {
    color: aliceblue;
    text-align: center;
}

/** Layout **/
.grid-temaplete {
    padding: 1.5rem;
}


.div-form {
    background-color: #001326d0;
    margin: auto;
    padding: 2rem;
    height: 90%;
    width: 90%;
    border-radius:15px ;
}

.form-label {
    display: block;
    color: aliceblue;
    margin: auto;
}


/** Buttons **/

.button-back-home {
    display: block;
    text-align: center;
    margin: auto;
    padding: 6px 12px 6px 12px;
    border-radius: 15px;
    border: none;
    background-color: #FF7D00;
    margin-top: 3rem;
}

.text-return-create {
    text-decoration: none;
    color: aliceblue;
}

.button-create {
    display: block;
    text-align: center;
    margin: auto;
    padding: 6px 12px 6px 12px;
    border-radius: 15px;
    border: none;
    background-color: #006571;
    color: aliceblue;  
}



/** EDIT EVENT **/

/** Text **/

.edit-title {
    display: block;
    margin: auto;
    padding: 1rem;
    margin-top:1rem ;
    margin-bottom: -1rem;
}
.card-title {
    text-align: center;
    text-size-adjust: auto;
    font-size: 1.4rem;
}
.form-label-edit {
    display: block;
    margin: auto;
    color: aliceblue;
}

/** Layout **/

.card-body {
    padding: 1.5rem;
}

.form-edit{
    margin: auto;
    padding: 2rem;
    height: 90%;
    width: 90%;
    border-radius:15px ;
    background-color: #ff7b00da ;
}

/** buttons **/ 

.button-edit {
    display: block;
    text-align: center;
    margin: auto;
    padding: 6px 12px 6px 12px;
    border-radius: 15px;
    border: none;
    background-color: #001524;
    color: aliceblue;  
}